{% assign articles = site["articles"] %}

<h1> {{ include.name }} </h1>
  <table>
      <tr>
          <th>Title</th>
          <th>Project</th>
          <th>Language</th>
          <th>Tags</th>
      </tr>
      {%- for article in articles -%}
        {%- if article.project-key == include.key -%}
        <tr>
            <td>
                {{ article.title }}
            </td>
            <td>
                {{ article.project }}
            </td>
            <td>
                {{ article.language }}
            </td>
            <td>
                {{ article.tags }}
            </td>
        </tr>
        {%- endif -%}
      {%- endfor -%}
</table>
